{{ asset_add('styles.css', 'anomaly.field_type.upload::css/input.css') }}
{{ asset_add('scripts.js', 'anomaly.field_type.upload::js/input.js') }}

<input
        type="file"
        name="{{ field_type.input_name }}"
        {{ html_attributes(field_type.attributes) }}
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.readonly ? 'readonly' }}>

<input
        type="hidden"
        name="{{ field_type.input_name }}_id"
        value="{{ field_type.value.id }}"
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.readonly ? 'readonly' }}>

{% if field_type.value %}
    <div>

        <div class="attachment">

            <div class="preview">
                <a href="{{ url(field_type.value.route('view')) }}" target="_blank">
                    {{ field_type.value.preview|raw }}
                </a>
            </div>

            <div class="details">

                <div class="name">

                    <a href="{{ url(field_type.value.route('view')) }}" target="_blank">
                        {{ field_type.value.name }}
                    </a>

                    <small class="text-muted">
                        {{ field_type.value.readable_size }}
                    </small>
                </div>

                <div class="location">
                    {{ field_type.value.location }}
                </div>

                <div class="controls">
                    <a href="{{ field_type.value.route('view') }}" class="btn btn-xs btn-info" target="_blank">
                        {{ trans('streams::button.view') }}
                    </a>

                    <a href="{{ field_type.value.route('download') }}" class="btn btn-xs btn-primary" target="_blank">
                        {{ trans('streams::button.download') }}
                    </a>

                    {% if user().hasPermission('anomaly.module.files::files.write') %}
                        <a href="{{ url('admin/files/edit/' ~ field_type.value.id) }}" class="btn btn-xs btn-warning"
                           target="_blank">
                            {{ trans('streams::button.edit') }}
                        </a>
                    {% endif %}

                    <a data-remove="upload" class="btn btn-xs btn-danger">
                        {{ trans('anomaly.field_type.upload::button.remove') }}
                    </a>
                </div>

            </div>

        </div>

    </div>
{% endif %}
